.ion-item-value {
  font-size: 14px;
}

.label-placeholder{
  font-size: $item-ios-body-text-font-size;
  color: $label-ios-text-color;
}

//to have the same padding like another ion-item
ion-datetime{
  padding: 0;
}