.settings {
  img {
    max-width: 140px;
    border-radius: 50%;
  }
  .name {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 16px;
  }
  ion-list ion-item div[item-right] {
    color: #7f7f7f;
  }
}



