<ion-header>
    <ion-navbar>
        <ion-title>My Time</ion-title>
        <ion-buttons end>
            <button (click)="createBooking($event)">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-buttons [hidden]="hidePrevButton" start>
            <button (click)="setNewDateRange('PREV')">
                <ion-icon name="arrow-dropleft"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <button dark clear (click)="showDateViewModePopover($event)">
                <span [class.selected-date]="selectedDateClass">{{selectedDate.name}}</span>
                <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
            </button>
        </ion-title>
        <ion-buttons [hidden]="hideNextButton" end>
            <button (click)="setNewDateRange('NEXT')">
                <ion-icon name="arrow-dropright"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list *ngFor="let headerDate of workingSteps">
        <ion-list-header>
            <div style="text-align: left;">{{headerDate.date | amDateFormat:"MM.DD.YYYY"}}
            </div>
        </ion-list-header>
        <ion-item-sliding *ngFor="let step of headerDate.values">
            <ion-item>{{step.taskName}}</ion-item>
            <ion-item-options>
                <button primary>
                    <ion-icon name="text"></ion-icon>
                    Text
                </button>
                <button secondary>
                    <ion-icon name="call"></ion-icon>
                    Call
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--<ion-list [virtualScroll]="workingSteps" [bufferRatio]="20" [headerFn]="headerDateFn">
        <ion-item-group *virtualItem="let item">
        <ion-item-divider><div style="text-align: left;font-weight: bold">{{ item.date
            }}</div></ion-item-divider>
        <ion-item *ngFor="let subItem of item.values">
                {{subItem.taskName}}
        </ion-item>
        </ion-item-group>
    </ion-list>-->
</ion-content>`