//TODO create mixin to override booked in not-booked
.booked{
  border-radius: 50%;
  width: 27px;
  height: 27px;
  background-color: $booked-working-step;
}

.not-booked{
  border-radius: 50%;
  width: 27px;
  height: 27px;
  border: 1px solid $label-ios-text-color;
}