<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button (click)="cancel()">Cancel</button>
        </ion-buttons>
        <!--<ion-title>More</ion-title>-->
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-list-header>Incl. Booked {{bookingsLabel}}</ion-list-header>
        <ion-item>
            <ion-label class="label-text">{{inclBooked ? 'Incl. Booked' : 'Not Booked'}}</ion-label>
            <ion-toggle [(ngModel)]="inclBooked"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="firstLastDateOfBookings !== null">
        <ion-list-header>Total Sum of {{bookingsLabel}}</ion-list-header>
        <ion-item>
            <ion-label class="label-text">{{firstLastDateOfBookings.first | amDateFormat: 'DD.MM.YYYY'}} -
                {{firstLastDateOfBookings.last | amDateFormat: 'DD.MM.YYYY'}}
            </ion-label>
            <div item-content>
                <h2 style="padding-right: 8px">{{totalSumOfBookings | duration}} h</h2>
            </div>
        </ion-item>
    </ion-list>
</ion-content>