<ion-header>
    <ion-toolbar no-border-bottom>
        <ion-buttons start>
            <button (click)="cancel()">Cancel</button>
        </ion-buttons>
        <ion-title>Task Selection</ion-title>
        <ion-buttons end>
            <button (click)="selectTask()">Select</button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="taskGroup" primary padding>
            <ion-segment-button value="myTasks" (ionSelect)="selectedTaskGroup()">
                My
            </ion-segment-button>
            <ion-segment-button value="lastBookedTasks" (ionSelect)="selectedTaskGroup()">
                Last
            </ion-segment-button>
            <ion-segment-button value="globalTasks" (ionSelect)="selectedTaskGroup()">
                Global
            </ion-segment-button>
            <ion-segment-button value="teamTasks" (ionSelect)="selectedTaskGroup()">
                Team
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="getTasks($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <div text-center [hidden]="!isLoading">
        <ion-spinner id="task-spinner"></ion-spinner>
    </div>
    <ion-list [hidden]="isLoading" radio-group [(ngModel)]="selectedTaskTemp">
        <ion-item [class.not-bookable-task]="!task.bookable" text-wrap class="task-item" *ngFor="let task of tasks">
            <ion-label>
                <h4>{{task.name}}</h4>
                <div class="task-item-project">
                    <p><strong>Project</strong></p>
                    <p>{{task.project.name}}</p>
                </div>
                <p><strong>ID </strong>{{task.number}} , <strong>Start </strong>{{task.start |
                    amDateFormat:"MM.DD.YYYY"}} ,
                    <strong>End </strong>{{task.start | amDateFormat:"MM.DD.YYYY"}}</p>
                <!--<ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon>-->
            </ion-label>
            <ion-radio value="{{task.id}}" checked="{{task.checked}}"
                       (ionSelect)="selectRadioTaskItem(task)"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>