//ios
.task-item-project {
  padding: 4px 0;
}

//ios
.not-bookable-task {
  border-right: 3px solid $not-bookable-item;
}

//ios
.center-vertically-in-list {
  margin-top: 170px;
}

//ios
.no-items-found {
  color: $loading-ios-spinner-color;
}

.input-value-font-color {
  color: inherit;
}