<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button (click)="cancel()">Cancel</button>
        </ion-buttons>
        <!--<ion-title>More</ion-title>-->
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-list-header>Incl. Booked Working Steps</ion-list-header>
        <ion-item>
            <ion-label class="label-text">{{inclBooked ? 'Incl. Booked' : 'Not Booked'}}</ion-label>
            <ion-toggle [(ngModel)]="inclBooked"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>Total Sum of Working Steps</ion-list-header>
        <ion-item>
            <ion-label class="label-text">22.10.2015 - 24.12.2016</ion-label>
            <div item-content>
                <h2 style="padding-right: 8px">23.56</h2>
            </div>

            <!-- <ion-grid>
                 <ion-row>
                     <ion-col width-80>
                     </ion-col>
                     <ion-col width-10>
                     </ion-col>
                 </ion-row>
             </ion-grid>-->
        </ion-item>
    </ion-list>
</ion-content>