<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button (click)="cancel()">Cancel</button>
        </ion-buttons>
        <!--<ion-title>More</ion-title>-->
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-list-header>Incl. Booked Working Steps</ion-list-header>
        <ion-item>
            <ion-label>{{inclBooked ? 'Incl. Booked' : 'Not Booked'}}</ion-label>
            <ion-toggle [(ngModel)]="inclBooked" ></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>