<ion-content class="login" padding>
    <ion-row>
        <ion-col class="logo" text-center>
            <h1 @flyInBottomSlow="'in'">Projectsuite</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <form #loginForm="ngForm" novalidate>
                <ion-list no-lines inset @bounceInBottom="'in'">
                    <p text-center grey *ngIf="badCredentials">Your Username or Password is incorrect.</p>
                    <ion-item>
                        <ion-input [(ngModel)]="credentials.username" name="username" #username="ngModel" type="text"
                                   spellcheck="false" autocapitalize="off" placeholder="Username" required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input [(ngModel)]="credentials.password" name="password" #password="ngModel"
                                   type="{{inputTypePassword}}"
                                   spellcheck="false" autocapitalize="off" placeholder="Password" required></ion-input>
                        <button clear item-right (click)="changeInputPassType()">
                            <ion-icon *ngIf="inputTypePassword == 'password'" name="eye"></ion-icon>
                            <ion-icon *ngIf="inputTypePassword == 'text'" name="eye-off"></ion-icon>
                        </button>
                    </ion-item>
                    <button  (click)="onLogin(loginForm)" class="login-button" type="submit" [disabled]="!loginForm.form.valid" full>Login</button>
                </ion-list>
            </form>
        </ion-col>
    </ion-row>
</ion-content>
