.login {
  background-color: $white;
}

.login h5{
  margin-top:0;
  font-weight: 300;
}

.login form ion-list{
  margin-top: 5px;
}

.login-header::after{
  background: none;
}

.login form ion-item input:focus{
}

.login form ion-item input::-webkit-input-placeholder {
  //color: $primary !important;
  //text-indent: 70px;
  //transform: scale(1,1.2);
}


.login .login-button{
  margin-top: 30px;
}
